* {
  margin: 0;
  padding: 0;
}
:root {
  --font: "Quicksand", serif;
  --size: 2rem;
}
body {
}
.window {
  width: 100%;
  background-image: url("1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
/* header tag---------------------------------------------------------------------------------------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  background-color: rgba(128, 128, 128, 0.674);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px dotted gray;
  height: 50px;
  z-index: 100;
}
.head {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.head a {
  position: relative;
  margin-left: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(207, 207, 207);
}
/* Photo div------------------------------------------------------------------------------------------------------------------------------- */
.photo {
  margin-top: 125px;
  margin-left: 1100px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: end;
  position: absolute;
  height: 590px;
  width: 400px;
  animation: photo 3s ease;
  filter: grayscale(50%);
  /* filter: blur(5px); */
  transition: 0.3s ease;
}
.photo:hover {
  filter: grayscale(0%);
  /* filter: blur(0px); */
}

@keyframes photo {
  0% {
    scale: 0%;
    rotate: 90deg;
  }

  100% {
    rotate: -360deg;
    scale: 100%;
  }
}
.photo img {
  height: 100%;
  width: 100%;
}
/* Name======================= -=====================================================================================================================================*/
.typing {
  position: absolute;
  top: 300px;
  font-family: "DM Serif Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  /* font-style: normal; */
  color: rgb(242, 228, 228);
  font-size: 4.5rem;
  white-space: nowrap;
  /* border: 1px solid #dcbe14; */
  height: 300px;
  width: 800px;
  overflow: hidden;
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  from {
    border-right-color: #6f212100;
  }
  to {
    border-right-color: transparent;
  }
}

.name {
  color: #e19016;
  font-weight: bold;
}

.skill {
  color: #dcbe14;
  font-style: italic;
}
/* Project div-------------------------------------------------------------------------------------------------------------------------------------- -----------------*/
.procontainer {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 350px;
  position: relative;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.procontainer:hover .image {
  animation-play-state: paused !important;
}
/* Projects images div----------------------------------------------------------------------------------------------------------------------------------------------- */
.image {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 98%;
  width: 25%;
  overflow: hidden;
  flex-direction: column;
  animation: move 16s infinite linear;
  position: absolute;
  border-radius: 10px;
  left: 100%;
  transition: 0.3s ease;
}
.image a {
  display: block;
  width: 100%;
  height: 100%;
}
.image a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.image p {
  font-family: var(--font);
  font-size: 2rem;
  color: rgb(253, 213, 213);
  z-index: 3;
  opacity: 1;
}
.image:hover {
  border-bottom: 1px solid white;
}
@keyframes move {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-170vw);
  }
}
/* Projects images div hover------------------------------------------------------------------------------------------------------------------------------------ */
#img1 {
  animation-delay: 0s;
  z-index: 2;
}
#img2 {
  animation-delay: 2s;
  z-index: 3;
}
#img3 {
  animation-delay: 4s;
  z-index: 4;
}
#img4 {
  animation-delay: 6s;
  z-index: 5;
}
#img5 {
  animation-delay: 8s;
  z-index: 2;
}
#img6 {
  animation-delay: 10s;
  z-index: 3;
}
#img7 {
  animation-delay: 12s;
  z-index: 4;
}
#img8 {
  animation-delay: 14s;
  z-index: 5;
}
#img1 img,
#img2 img,
#img3 img,
#img4 img,
#img5 img,
#img6 img,
#img7 img,
#img8 img {
  background-size: 100% 100%;
  opacity: 0.8;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  filter: grayscale(50%);
  transform: scale(0.7);
  will-change: transform, opacity, filter;
}

#img1 img:hover,
#img2 img:hover,
#img3 img:hover,
#img4 img:hover,
#img5 img:hover,
#img6 img:hover,
#img7 img:hover,
#img8 img:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1);
}
/* Contact page--------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
  height: 500px;
  width: 700px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
}
.contact1,
.contact2 {
  border-radius: 10px;
  background-color: #ffffff4a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes view {
  0% {
    opacity: 0;
    scale: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

.scroll-visible {
  animation: view 1s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.contact1.scroll-visible,
.contact2.scroll-visible {
  opacity: 1;
  transform: translateY(0);
}
.contact1 {
  width: 30%;
}
.contact2 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact1 p {
  font-family: var(--font);
  font-size: var(--size);
}
.contact2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.contact2 form input {
  height: 50px;
  width: 90%;
  font-size: 1.5rem;
  border-radius: 5px;
  font-family: var(--font);
  background-color: rgba(250, 235, 215, 0.53);
  border: none;
  transition: o.5s ease;
}
.contact2 form input::placeholder {
  color: #222222;
  font-style: italic;
}
.contact2 form input:hover {
  background-color: rgb(250, 235, 215);
  border: 1px solid black;
}
.contact2 form button {
  font-size: 1.3rem;
  font-family: var(--font);
  background-color: #f7e8e87a;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  transition: 0.5s ease;
  border: none;
}
.contact2 form button:hover {
  background-color: #f7e8e8;
  border: 1px solid black;
}
