@media (max-width: 1200px) {
  .welcome-message {
    font-size: 12rem;
  }
  .loading-message {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .welcome-message {
    font-size: 10rem;
  }
  .loading-message {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .welcome-message {
    font-size: 8rem;
  }
  .loading-message {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .welcome-message {
    font-size: 6rem;
  }
  .loading-message {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .window {
    height: 90vh;
  }
}

@media (max-width: 992px) {
  .window {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .window {
    height: 90vh;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .window {
    height: 96vh;
    justify-content: center;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  header {
    justify-content: flex-start;
    padding: 10px;
    height: 2.5%;
  }

  .head {
    /* display: none; */
    justify-content: center;
    align-items: center;
  }

  .head a {
    font-size: 1rem;
  }
  .menu-button {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
@media (max-width: 992px) {
  .main {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .left-container {
    margin-top: 50px;
    max-width: 100%;
    font-size: 1rem;
    font-weight: 400;
    height: fit-content;
    padding: 10px;
  }

  .typing {
    /* margin-top: 150px; */
    font-size: 2.5rem;
    text-align: start;
  }

  .photo {
    /* z-index: 1; */
    height: 350px;
    width: 200px;
    margin-top: 100px;
    margin-left: 25px;
  }
  .about {
    width: 500px;
    /* z-index: -2; */
    height: fit-content;
  }
  #p1 {
    font-size: 0.9rem;
  }
  #p2 {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .typing {
    font-size: 2rem;
    margin-top: 50px;
    text-align: start;
  }
  .about {
    z-index: -2;
    height: fit-content;
    width: 500px;
  }
  #p1 {
    font-size: 0.9rem;
  }
  #p2 {
    font-size: 0.7rem;
  }
  .photo {
    height: 250px;
    width: 180px;
    margin-top: 0px;
  }

  .left-container {
    margin-top: 20px;
    padding: 10px;
    height: auto;
  }
}
@media (max-width: 576px) {
  .typing {
    font-size: 2rem;
    margin-top: 50px;
    text-align: start;
  }
  .about {
    z-index: -2;
    height: fit-content;
    width: 95%;
  }
  #p1 {
    font-size: 0.9rem;
  }
  #p2 {
    font-size: 0.5rem;
    font-weight: lighter;
  }
  .photo {
    height: 250px;
    width: 180px;
    margin-top: 30px;
  }

  .left-container {
    margin-top: 20px;
    padding: 10px;
    height: auto;
  }
}
@media (max-width: 576px) {
  .main {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .procontainer {
    height: 100vh;
  }
  .image {
    width: 100%;
    animation: move-single 16s infinite linear;
    left: 150%;
  }
  .qual-container {
    height: 100vh;
  }
  .container {
    height: 100vh;
  }
  .typing {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: start;
    position: relative;
  }
  .typing p {
    font-size: 1.5rem;
    display: inline-block;
  }

  .about {
    padding: 10px;
    height: 250px;
  }
  #p1 {
    font-size: 0.7rem;
  }

  #p2 {
    font-size: 0.6rem;
  }

  .photo {
    height: 200px;
    width: 150px;
    /* margin-top: 1px; */
    bottom: 30px;
    filter: grayscale(0);
  }

  .left-container {
    margin-top: 10px;
    padding: 10px;
    font-size: 1px;
  }
}

@media (max-width: 768px) {
  .procontainer {
    height: 300px;
  }

  .image {
    width: 100%;
    animation: move-single 16s infinite linear;
    left: 120%;
  }

  @keyframes move-single {
    0% {
      transform: translateX(100%);
    }
    12.5% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    37.5% {
      transform: translateX(-200%);
    }
    50% {
      transform: translateX(-300%);
    }
    62.5% {
      transform: translateX(-400%);
    }
    75% {
      transform: translateX(-500%);
    }
    87.5% {
      transform: translateX(-600%);
    }
    100% {
      transform: translateX(-700%);
    }
  }
}
@media (max-width: 992px) {
  .container {
    height: 400px;
    width: 600px;
    flex-direction: column;
  }

  .contact1 {
    width: 100%;
    height: 50%;
  }

  .contact2 {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    height: 300px;
    width: 90%;
    padding: 10px;
  }
  .heading {
    font-family: "Quicksand ","serif";
    font-size:1.5rem;
    text-decoration: underline;
    bottom: 10px;
    margin-bottom: 100px;
}
  .contact1 p,
  .contact2 form input,
  .contact2 form button {
    font-size: 1rem;
  }

  .contact2 form input {
    height: 40px;
  }

  .contact2 form button {
    height: 40px;
    width: 150px;
  }
}

@media (max-width: 576px) {
  .container {
    height: auto;
    width: 80%;
    padding: 10px;
    flex-direction: column;
  }
  .heading {
    font-family:"
        Quicksand ", serif";
    font-size: 1.4rem;
    text-decoration: underline;
    bottom: 10px;
    margin-bottom: 90px;
  }

  .contact1,
  .contact2 {
    width: 100%;
    height: auto;
  }

  .contact1 p,
  .contact2 form input,
  .contact2 form button {
    font-size: 0.9rem;
  }

  .contact2 form input {
    height: 35px;
  }

  .contact2 form button {
    height: 35px;
    width: 120px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 15px 0;
  }

  .scroll-to-top {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 10px 0;
    width: 100%;
  }

  .scroll-to-top {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .qual-container {
    /* margin-top: 200px; */
    flex-direction: row;
    height: auto;
    align-items: center; 
    overflow: hidden; 
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .qualified {
    min-width: 30%;
    min-height: 200px;

    margin-bottom: 0;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
  }
  .qualified p {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    .qualified p {
      font-size: 1rem;
    }
    .qual-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100x;
      flex-direction: column;
      gap: 10px;
      margin-top: 50px;
    }
    .qualified {
      width: 90%;
      background-size: contain;
      margin: 0px;
      min-height: 20%;
      filter: blur(0);
    }

    .qualified a i {
      font-size: 20px;
    }

    .detail {
      display: block;
      background-color: #333333bc;
      height: fit-content;
      width: 90%;
    }
  }

  @media (max-width: 576px) {
    .qual-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100x;
      flex-direction: column;
      gap: 10px;
      margin-top: 50px;
    }
    .qualified {
      width: 90%;
      background-size: contain;
      /* background-repeat: no-repeat; */
      margin: 0px;
      filter: blur(0px);
      min-height: 20%;
    }
    #university {
    }

    .qualified p {
      font-size: 1.2rem;
    }

    .qualified a i {
      font-size: 18px;
    }

    .detail {
      display: block;
      background-color: #333333bc;
      height: fit-content;
      width: 90%;
    }
  }

  @keyframes slide {
    0%,
    25% {
      transform: translateX(0);
    }
    26%,
    50% {
      transform: translateX(-100%);
    }
    51%,
    75% {
      transform: translateX(-200%);
    }
    76%,
    100% {
      transform: translateX(-300%);
    }
  }
}
@media (max-width: 768px) {
  .skills {
    height: 40%;
    width: 50%;
    top: 50px;
    left: 100%;
    background-size: cover;
    display: block;
    animation: movs 15s infinite linear;
  }
  .certi {
    height: 40%;
    width: 50%;
    top: 50px;
    left: 100%;
    background-size: cover;
    animation: right 10s infinite linear;
  }
  @keyframes movs {
    0% {
      transform: translateX(-350%);
    }
    12.5% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(100%);
    }
    37.5% {
      transform: translateX(200%);
    }
    50% {
      transform: translateX(300%);
    }
    62.5% {
      transform: translateX(400%);
    }
    75% {
      transform: translateX(500%);
    }
    87.5% {
      transform: translateX(600%);
    }
    100% {
      transform: translateX(700%);
    }
  }
  @keyframes right {
    0% {
      transform: translateX(100%);
    }
    12.5% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    37.5% {
      transform: translateX(-200%);
    }
    50% {
      transform: translateX(-300%);
    }
    62.5% {
      transform: translateX(-400%);
    }
    75% {
      transform: translateX(-500%);
    }
    87.5% {
      transform: translateX(-600%);
    }
    100% {
      transform: translateX(-700%);
    }
  }
}

@media (max-width: 576px) {
  .skills {
    height: 40%;
    width: 70%;
    left: 100%;
    right: 0;
    background-size: cover;
    display: block;
    gap: 10px;
    animation: mos 16s infinite linear;
  }
  .certi {
    height: 40%;
    width: 70%;
    left: 100%;
    right: 0;
    background-size: cover;
    display: flex;
    flex-direction: row;

    gap: 5px;
    animation: left 10s infinite linear;
  }
  @keyframes mos {
    0% {
      transform: translateX(-250%);
    }
    12.5% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(100%);
    }
    37.5% {
      transform: translateX(200%);
    }
    50% {
      transform: translateX(300%);
    }
    62.5% {
      transform: translateX(400%);
    }
    75% {
      transform: translateX(500%);
    }
    87.5% {
      transform: translateX(600%);
    }
    100% {
      transform: translateX(700%);
    }
  }
  @keyframes left {
    0% {
      transform: translateX(100%);
    }
    12.5% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    37.5% {
      transform: translateX(-200%);
    }
    50% {
      transform: translateX(-300%);
    }
    62.5% {
      transform: translateX(-400%);
    }
    75% {
      transform: translateX(-500%);
    }
    87.5% {
      transform: translateX(-600%);
    }
    100% {
      transform: translateX(-700%);
    }
  }
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 15px;
}
.but {
  display: none;
}
#p4 {
  display: none;
}

.head a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.head a:hover {
  text-decoration: underline;
}


.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: rgba(222, 206, 206, 0.877);
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #525252df;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 8px;
  }

  .nav-links.show {
    display: flex;
  }
  .but {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav-toggle {
    display: flex;
  }
  #p4 {
    display: block;

    color: thistle;
    font-family: "DM Serif Text", serif;

    font-size: 1rem;
    letter-spacing: 1.5px;
    text-decoration: underline;
    text-shadow: #fff;
  }
}


@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }
  #p4 {
    display: block;
    color: thistle;
    font-family: "DM Serif Text", serif;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-decoration: underline;
    text-shadow: #fff;
  }
}

.nav-toggle i {
  font-size: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease; 
}

.bi-x-lg {
  font-size: 24px;
  transform: rotate(90deg); 
  opacity: 1;
}

 
.bi-list-nested {
  opacity: 1; 
  transform: rotate(0deg); 
}


.nav-toggle.active .bi-list-nested {
  opacity: 0; 
  transform: rotate(
    -90deg
  ); 
}

.nav-toggle.active .bi-x-lg {
  opacity: 1; 
  transform: rotate(0deg); 
}
